<ion-content>



  <div text-center>

    <ion-grid no-padding style="height: 100vh; background-color: rgb(255, 253, 249);">
      <ion-row style="height: 5vh;">
        <ion-col size="12" class="ion-text-left">
          <ion-chip style="font-size:12px" routerLink="/memoria" color="vibrant">
            <ion-icon style="zoom:1.5;" name="folder-open" style="zoom:1.5;"></ion-icon>
          </ion-chip>
          <ion-chip style="font-size:12px" routerLink="/repositorio" color="vibrant">
            <ion-icon style="zoom:1.5;" name="cloud" style="zoom:1.5;"></ion-icon>
          </ion-chip>
          <ion-chip style="font-size:12px" routerLink="/temas" color="vibrant">
            <ion-icon style="zoom:1.5;" name="help" style="zoom:1.5;"></ion-icon>
          </ion-chip>
          <ion-chip style="font-size:12px" routerLink="/about" color="vibrant">
            <ion-icon style="zoom:1.5;" name="information" style="zoom:1.5;"></ion-icon>
          </ion-chip>
        </ion-col>

      </ion-row>
      <ion-row style="height: 20vh;">
        <ion-col size="12"
          style="text-align: right; padding-top: 15%; padding-left: 4%; padding-right: 4%; font-size: 180%">{{infija}}
        </ion-col>
      </ion-row>
      <ion-row style="height: 72vh" style="padding-top: 8%">
        <ion-col size="9" style="background-color: rgb(255, 255, 255)">

          <ion-grid no-padding>
            <ion-row class="barra-top">
              <ion-col (click)="clear()" size="3" class="borde btn orange">
                <ion-icon style="zoom:1.5;" name="trash" style="padding-top: 10%"></ion-icon>
              </ion-col>
              <ion-col (click)="delete()" size="3" class="borde btn-img" text-center>
                <ion-img src="assets/img/delete.png" style="width: 60%; margin-left: 10%"></ion-img>
              </ion-col>
              <ion-col (click)="clickVar('(')" size="3" class="borde btn">(</ion-col>
              <ion-col (click)="clickVar(')')" size="3" class="borde btn">)</ion-col>
            </ion-row>
            <ion-row>


              <ion-col *ngFor="let l of letras" (click)="clickVar(l[caseMm])" size="3" class="borde btn">
                {{l[caseMm]}}
              </ion-col>
              <ion-col size="3" (click)="clickVar('[')" class="btn borde operador">
                [
              </ion-col>
              <ion-col size="3" (click)="clickVar(']')" class="btn borde  operador">
                ]
              </ion-col>


            </ion-row>
            <ion-row class="operadores">
              <ion-col class="btn borde" (click)="clickVar('⊻')" style="font-size: 100%" size="4">⊻</ion-col>
              <ion-col class="btn borde" (click)="clickVar('⊼')" style="font-size: 100%" size="4">⊼</ion-col>
              <ion-col class="btn borde" (click)="clickVar('↓')" style="font-size: 100%" size="4">↓</ion-col>
            </ion-row>
          </ion-grid>

        </ion-col>
        <ion-col size="3">
          <ion-row>
            <ion-col size="12" class=" borde btn-fm" (click)="changeCase()">
              <span *ngIf="caseMm == 1">abc</span>
              <span *ngIf="caseMm == 0">ABC</span>
            </ion-col>
            <ion-col size="12" style="font-size:small" (click)="setOpr(2)" class="borde btn-fm">∨∧¬</ion-col>
            <ion-col size="12" (click)="setOpr(1)" class="borde btn-fm">|&!</ion-col>

          </ion-row>
          <ion-row class="operadores">



            <ion-col class="btn borde" (click)="clickVar(opers.not[modo])" size="12">{{opers.not[modo]}}</ion-col>
            <ion-col class="btn borde" (click)="clickVar(opers.or[modo])" size="12">{{opers.or[modo]}}</ion-col>
            <ion-col class="btn borde" (click)="clickVar(opers.and[modo])" size="12">{{opers.and[modo]}}</ion-col>
            <ion-col class="btn borde" (click)="clickVar('⇔')" size="12">
              ⇔
            </ion-col>

            <ion-col class="btn borde" (click)="clickVar('⇒')" size="12">⇒</ion-col>
            <ion-col class="btn-doble borde" (click)="verResultado()" size="12">=</ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>